{% extends "./base.html" %}

{% block content %}

<div class="container-list">
    <h1>ToDo List</h1>

    <div class="create">
        <a href="{% url 'task-create' %}"><i class="material-icons">add</i></a>
    </div>
    <table>
        <tr>
            <th>
                ToDos
            </th>
        </tr>
        <hr style="clear: left; width: 150px; position: relative; right: 165px; bottom: 10px;">
        {% for task in tasks %}
        <tr>
            <td>
                <p>{{task.title}}</p>
            </td>
            <td><a href="{% url 'task-details' task.id %}"><i class="material-icons">info</i></a></td>
            <td><a href="{% url 'task-update' task.id %}"><i class="material-icons">edit</i></a></td>
            <td><a href="{% url 'task-delete' task.id %}"><i class="material-icons">delete</i></a></td>
        </tr>
        {% empty %}
        <p>No Items Created</p>
        {% endfor %}
    </table>
</div>

{% endblock content %}