{% extends "./base.html" %}

{% block content %}

    {% if request.user.is_authenticated %}
        <h1>{{request.user|title}}</h1>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <h1>You are logged out</h1>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <a href="{% url 'stats' %}">Statistics</a>

    <form method="get">
        <input type="text" name="search-text">
        <input type="submit" value="Search">
    </form>

    <a href="{% url 'task-create' %}"><i class="material-icons">add</i></a>
    <table>
        <tr>
            <th>
                ToDos
            </th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>
                <p>{{task.title}}</p>
            </td>
            <td><a href="{% url 'task-update' task.id %}"><i class="material-icons">edit</i></a></td>
            <td><a href="{% url 'task-delete' task.id %}"><i class="material-icons">delete</i></a></td>
        </tr>
        {% empty %}
        <p>No Items Created</p>
        {% endfor %}
    </table>

{% endblock content %}